@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  font-family: Montserrat;
  color: #fff;
  background-color: #101010;
}

.searchBar {
  position: relative;
  left: 0;
  right: 0;
  width: 100%;
  margin: auto;
  justify-content: center;
  display: flex;
}
h1{
  margin: 10px;
}

.searchBar input {
  background-color: rgba(255,255,255,0.1);
  border-color: rgba(255, 255, 255, .4);
  border-radius: 20px;
  margin-top: 30px;
  width : 500px;
  height: 50px;
  color: white;
  font-size: 3rem;
  text-align: center;
}

::placeholder {
  color: rgba(255,255,255,0.4);
}

.searchBar select {
  height: 55px;
  margin-left: 10px;
  font-size: 1rem;
  margin-top: 30px;
  background-color: rgba(255,255,255,0.1);
  border-color: rgba(255, 255, 255, .3);
  border-width: 1px;
  border-radius: 10px;
}

.top-content {
  margin-top: 75px;
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  color: white;
  justify-content: space-between;
  flex-direction: column;
}
.top-content h1 {
  padding: 0;
  margin: 0;
  margin-left: 100px;

}

.temp {
  font-size: 12rem;
}

.cityName {
  font-size: 4rem;
  color: lime;
  
}

.description {
  font-size: 1rem;
}

.bottom-content{
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  flex-direction: row;
  justify-content: flex-end;
  width: 50%;
  flex-wrap: wrap;
}

.maxtemp, .mintemp, .windspeed, .humidity, .feelslike {
  color: lime;
}

.details, .temps {
  position: relative;
  margin-right: 0;
}